a:link {color: #000000}
a:visited {color: #000000}
a:hover {color: #FF0000}

.warning{
border: 1px solid #f00;
width: 650px;
background-color: #ff9;
background-image:url('./content/static/exclam24.png');
background-repeat:no-repeat;
background-position: right bottom; 
font-family: Arial;
padding: 5px;
}

.info{
border: 1px solid #36c;
width: 650px;
background-color: #fff;
background-image:url('./content/static/info24.png');
background-repeat:no-repeat;
background-position: right bottom; 
font-family: Arial;
padding: 5px;
}


TABLE.headertable {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 13px;
	background : #FFFFFF;
	color : #000000;
	border-collapse : collapse;
}

  .special1 {width:40px;background-color:#000000;font-weight:700;font-size:24;color:#009900;border:#000000;font-family:'Courier New'}
  .special2 {width:975px;background-color:#0066FF;font-size:16;font-weight:900;color:#FFFFFF;border:#000000;font-family:Arial}

